body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;

}
.img1 {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    border: 3px solid black;
}
.img2 {
    width: 150px;
    height: auto;
}
#pick {
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 12px;
    border: 3px solid black;
    gap: 30px;
}
#pictures {
    display: flex;
}
.choose {
    margin: 20px;
    text-shadow: 2px 1px rgb(241, 10, 10);
    font-size: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 55px;

}

#rock {
    width: 200px;
    height: 150px;
    border-radius: 12px;
    border: 3px solid black;
    background-image: url(./rock.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#paper {
    width: 200px;
    height: 150px;
    border-radius: 12px;
    border: 3px solid black;
    background-image: url(./paper.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#scissors {
    width: 200px;
    height: 150px;
    border-radius: 12px;
    border: 3px solid black;
    background-image: url(./scissors.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}